html,
body,
main {
  height: 100%;
}
nav {
  height: 20wh;
  background-color: darkgrey;
  position: fixed;
  display: inline-block;
  width: 100vw;
  color: white;
  background-color: black;
}
main {
  background-image: url(img/bg.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo {
  height: 100px;
  width: 100px;
}
#score {
  float: right;
  position: relative;
  top: 30px;
  right: 10px;
  font-size: 1.5rem;
}
#score span {
  padding-right: 20px;
}

form {
  background: linear-gradient(
    rgba(241, 237, 237, 0.7),
    rgba(241, 237, 237, 0.7)
  );
  /* display: inline-block; */
  /* position: absolute;
  top: 20%;
  left: 30%; */
  text-align: center;
  min-height: 50vh;
  width: 800px;
  /* padding: 20px;  */
  font-size: 1.5rem;
  border-radius: 10px;
  margin: 20px 20px;
}
form label,
input {
  display: block;
}
form label:last-of-type {
  /* padding-bottom: 50px; */
}
form input,
label {
  display: inline-block;
}
form input {
  margin-right: 10px;
}
/* .questions {
  position: relative;
  top: 100px;
} */
