body {
}

nav {
  min-height: 20wh;
  background-color: darkgrey;
  position: fixed;
  width: 100vw;
  color: white;
  background-color: black;
  display: flex;
  justify-content: space-between;
}

main {
  background-image: url("img/bg2.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}
#logo {
  height: 100px;
  width: 100px;
}
#score {
  float: right;
  position: relative;
  top: 30px;
  right: 10px;
  font-size: 1.5rem;
}
#score span {
  padding-right: 20px;
}
#score i {
  font-size: 1.5rem;
  margin: 0 5px;
}
#score .fa-thumbs-up {
  color: rgb(81, 192, 81);
}
#score .fa-thumbs-down {
  color: rgb(182, 28, 28);
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    rgba(241, 237, 237, 0.7),
    rgba(241, 237, 237, 0.7)
  );

  text-align: center;
  min-height: 50vh;
  width: 800px;
  font-size: 1.5rem;
  border-radius: 10px;
  margin: 100px 20px 0px 20px;
}
form label,
input {
  display: block;
}
form label:last-of-type {
  padding-bottom: 50px;
}
form input,
label {
  display: inline-block;
}
form input {
  margin-right: 10px;
}

footer {
  color: white;
  background-color: black;
  width: 100vw;
  text-align: center;
  align-self: flex-end;
}
footer i {
  padding: 0 20px;
}

@media only screen and (min-width: 501px) {
  .cell-btns {
    display: none;
  }
  .cell-phone-score {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  nav {
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
  }
  #score {
    display: none;
  }
  .cell-phone-score {
    color: black;
    position: relative;
    top: 8%;
    background: rgba(255, 255, 255, 0.705);
    padding: 0px 10px;
    border-radius: 7px;
  }
  .cell-phone-score li {
    list-style: none;
    font-size: 1.5rem;
  }
  .questions button {
    display: none;
  }
  main {
    flex-direction: column;
  }
  form {
    max-width: 90vw;
  }
  button {
    margin-top: 20px;
    font-size: 25px;
    width: auto;
  }
  footer {
    display: none;
  }
}
